<div class="container text-center">
  <h1>Prueba</h1>
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="change()">Registrar</button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="change()">Listar</button>
    </div>
  </div>
  <br>
  <form [formGroup]="loginForm" *ngIf="bandera">
    <div class="row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Apellido" formControlName="surname">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Ciudad" formControlName="city">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Cedula" formControlName="cc">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Correo" formControlName="email">
      </div>
      <div class="form-group col-md-12">
        <button type="button" class="btn btn-primary" (click)="register()">Registrar</button>
      </div>
    </div>
  </form>
  <table class="table" *ngIf="!bandera">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Ciudad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of listData">
        <td>{{obj.name}}</td>
        <td>{{obj.surname}}</td>
        <td>{{obj.city}}</td>
      </tr>
    </tbody>
  </table>
</div>